.side-contact-btn_contact {
    position: fixed;
    font-size: larger;
    top: 50%;
    right: 24px;
    transform: translateY(-50%) rotate(-90deg) translateX(100%);
    transform-origin: right center;
    background: linear-gradient(to right, #f25c05, #d12c09);
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 8px 8px 0 0;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    z-index: 999;
    transition: background-color 0.3s ease;
    white-space: nowrap;
    cursor: pointer;
}

.side-contact-btn_contact:hover {
    background: linear-gradient(to left, #f25c05, #d12c09);
    color: white;
}

.side-contact-btn_contact img {
    width: 34px;
    height: 34px;
    transform: rotate(45deg);
}

.contact-form-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10000;

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.contact-form-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    height: 75%;
    width: 90%;
    max-width: 450px;
    background: #fff;
    padding: 2rem;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.15);
    overflow-y: auto;
    transform: translateX(100%);
    transition: transform 0.35s ease-in-out;
}


.contact-form-overlay.is-open {
    opacity: 1;
    visibility: visible;
}

.contact-form-overlay.is-open .contact-form-wrapper {
    transform: translateX(0);
}


.contact-close-btn {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 2.5rem;
    font-weight: 300;
    color: #888;
    text-decoration: none;
    line-height: 1;
}

.contact-close-btn:hover {
    color: #000;
}

.contact-form-wrapper h3 {
    margin-top: 0;
    margin-bottom: 1.5rem;
}


.set_margin_top {
     margin-top: calc(var(--nav-height) + var(--top-bar-height));
}